In [0]:
employee_data = [(10,"Raj Kumar","1999","100","M",2000),
                 (20,"Rahul Rajan","2002","200","F",8000),
                 (30,"Raghav","2010","100",None,6000),
                 (40,"Raja Singh","2004","100","F",7000),
                 (50,"Rama Krish","2008","400","M",1000),
                 (60,"RasuL","2014","500","M",5000),
                 (70,"Kumar Chand","2004","600","M",5000)
                ]

employee_schema = ("employee_id", "name","doj","employee_dept_id","gender","salary")

employeeDF = spark.createDataFrame(data = employee_data, schema = employee_schema)

display(employeeDF)

employee_id,name,doj,employee_dept_id,gender,salary
10,Raj Kumar,1999,100,M,2000
20,Rahul Rajan,2002,200,F,8000
30,Raghav,2010,100,null,6000
40,Raja Singh,2004,100,F,7000
50,Rama Krish,2008,400,M,1000
60,RasuL,2014,500,M,5000
70,Kumar Chand,2004,600,M,5000

In [0]:
from pyspark.sql.functions import lit

addcolDF = employeeDF.withColumn("place", lit("mumbai"))
display(addcolDF)
#to add a column df.withColumn("columnname",value)
#to add a value we are using lit function from pyspark.sql.funtions

employee_id,name,doj,employee_dept_id,gender,salary,place
10,Raj Kumar,1999,100,M,2000,mumbai
20,Rahul Rajan,2002,200,F,8000,mumbai
30,Raghav,2010,100,null,6000,mumbai
40,Raja Singh,2004,100,F,7000,mumbai
50,Rama Krish,2008,400,M,1000,mumbai
60,RasuL,2014,500,M,5000,mumbai
70,Kumar Chand,2004,600,M,5000,mumbai

In [0]:
from pyspark.sql.functions import lit
#bonus_df = addcolDF.withColumn("bonus", (addcolDF.salary * 0.2))
bonus_df = addcolDF.withColumn("bonus", (addcolDF.salary * 0.2)).withColumn("testcol",lit("anyvalue"))
display(bonus_df)

employee_id,name,doj,employee_dept_id,gender,salary,place,bonus,testcol
10,Raj Kumar,1999,100,M,2000,mumbai,400.0,anyvalue
20,Rahul Rajan,2002,200,F,8000,mumbai,1600.0,anyvalue
30,Raghav,2010,100,null,6000,mumbai,1200.0,anyvalue
40,Raja Singh,2004,100,F,7000,mumbai,1400.0,anyvalue
50,Rama Krish,2008,400,M,1000,mumbai,200.0,anyvalue
60,RasuL,2014,500,M,5000,mumbai,1000.0,anyvalue
70,Kumar Chand,2004,600,M,5000,mumbai,1000.0,anyvalue

In [0]:
from pyspark.sql.functions import concat

bonus_df = bonus_df.withColumn("fullname", concat("name",lit(" "), "employee_id"))
display(bonus_df)
# to add a new column using withColumn and concat from pyspark.sql.functions import concat
# df.withColumn("newcolumn",concat("column1","column2"))

employee_id,name,doj,employee_dept_id,gender,salary,place,bonus,testcol,fullname
10,Raj Kumar,1999,100,M,2000,mumbai,400.0,anyvalue,Raj Kumar 10
20,Rahul Rajan,2002,200,F,8000,mumbai,1600.0,anyvalue,Rahul Rajan 20
30,Raghav,2010,100,null,6000,mumbai,1200.0,anyvalue,Raghav 30
40,Raja Singh,2004,100,F,7000,mumbai,1400.0,anyvalue,Raja Singh 40
50,Rama Krish,2008,400,M,1000,mumbai,200.0,anyvalue,Rama Krish 50
60,RasuL,2014,500,M,5000,mumbai,1000.0,anyvalue,RasuL 60
70,Kumar Chand,2004,600,M,5000,mumbai,1000.0,anyvalue,Kumar Chand 70

In [0]:

bonus_df = bonus_df.withColumnRenamed("fullname", "nameandid")
display(bonus_df)
# to rename a column using withColumnRenamed 
# df.withColumnRenamed("oldcolumnname","newcolumnname"))

employee_id,name,doj,employee_dept_id,gender,salary,place,bonus,testcol,nameandid
10,Raj Kumar,1999,100,M,2000,mumbai,400.0,anyvalue,Raj Kumar 10
20,Rahul Rajan,2002,200,F,8000,mumbai,1600.0,anyvalue,Rahul Rajan 20
30,Raghav,2010,100,null,6000,mumbai,1200.0,anyvalue,Raghav 30
40,Raja Singh,2004,100,F,7000,mumbai,1400.0,anyvalue,Raja Singh 40
50,Rama Krish,2008,400,M,1000,mumbai,200.0,anyvalue,Rama Krish 50
60,RasuL,2014,500,M,5000,mumbai,1000.0,anyvalue,RasuL 60
70,Kumar Chand,2004,600,M,5000,mumbai,1000.0,anyvalue,Kumar Chand 70

In [0]:
afterdropdf = bonus_df.drop("nameandid").drop("testcol")
newdf = afterdropdf.drop("bonus","place")
display(newdf)

# to drop a column or columns using df.drop(colname)

employee_id,name,doj,employee_dept_id,gender,salary
10,Raj Kumar,1999,100,M,2000
20,Rahul Rajan,2002,200,F,8000
30,Raghav,2010,100,null,6000
40,Raja Singh,2004,100,F,7000
50,Rama Krish,2008,400,M,1000
60,RasuL,2014,500,M,5000
70,Kumar Chand,2004,600,M,5000